@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700;800;900&family=Manrope:wght@400;800&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f6f6f6;
    font-family: 'Roboto-slab', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'League Spartan', sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
    color: #133987;
}

section {
    margin-bottom: 50px;
}

a, a:hover {
    color: #000;
    text-decoration: none;
}

img {
    width:100%;
}

.btn {
    border-radius: 5px;
    padding: 3% 5%;
}

.btn-main, .btn:hover, .btn:focus{
    background-color: #133987;
    color: #fff;
}

.btn-outline {
    border: 1px solid #133987;
    color: #133987;
}

.btn-getcard {
    border: 1px solid #fff;
    color: #fff;
}



.container {
    padding: 0 5%;
}
.navbar {
    z-index: 1000;
    width: 100%;
    background-color: #f6f6f6;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 2%;
    padding-bottom: 2%;
}
.btn-getCard {
    position: relative;
    top: -5px;
}

.navbar-brand {
    width: 100px;
}

.profile-image {
    position: relative;
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/Images/profile_photo.JPG');
    background-position: center;
    filter: blur(8px);

    z-index: -1;
}
.display-img{
    width:100%;
}

.small {
    margin-bottom: 5px;
    color: #a2a2a2;
}

.profile-body {
    position: relative;
    top: -30px;
    background-color: #f6f6f6;
    border-radius: 30px;
    width: 100%;
    padding: 10% 0 2%;
    box-shadow: -1px -14px 17px 0px rgba(0,0,0,0.32);
    -webkit-box-shadow: -1px -14px 17px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: -1px -14px 17px 0px rgba(0,0,0,0.32);
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin: 20px auto;
    top: -40px;
}

.readmore {
    display: block;
    margin: 15px 0;
}

.more {
    display: none;
}

.social-links {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.social-link {
    border-radius: 5px;
    color: #133987;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    font-size: 2.5rem;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}

.project img {
    width: 100px;
    margin-right: 10px;
}
.project {
    height: 100px;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
}


footer {
    text-align: center;
    background-color: #133987;
    color: #fff !important;
    padding: 5% 5% 2%;
    position: relative;
}

.back-to-top {
    padding: 2%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #133987;
    border: 5px solid #f6f6f6;
    color: #fff;
    font-size: 1rem ;
    position: absolute;
    right: 20px;
    top: -20px;
}
footer a, footer a:focus {
    color: #fff;
}
